@use 'sass:color';
@use '../styles/variables' as *;
@use '../styles/mixins' as *;

.layout {
  min-height: 100vh;
  background: $light-background;
  transition: background-color $transition-normal;
  
  .dark & {
    background: $dark-background;
  }

  &__main {
    @include container;
    padding-top: $spacing-lg;
    padding-bottom: $spacing-lg;
  }

  &__content {
    padding: $spacing-lg $spacing-md;
    
    @media (min-width: 640px) {
      padding: $spacing-lg;
    }
  }
}